nav {
    background-color: #f5e050;
    padding: 0%;
    margin: 0%;
}

.a {
    font-size: 50px;
    color: #0a75bc;
    font-weight: bold;
    margin-right: 30px;
}

.center {
	margin:auto;
	width: 50%;
}



input {
    margin: 5px;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.font {
    font-size: 10px;
}

.morespace {
    margin-bottom: 270px;
}

#fontstyle {
    font-weight: bold;
    color: #0a75bc;
    font-size: 15px;
}

/** tablesort from https://github.com/tristen/tablesort/blob/gh-pages/tablesort.css **/
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}